doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='/css/registration.css')
    link(type='text/css', rel='stylesheet', href='/css/materialize.min.css', media='screen,projection')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
    script(src='/js/registration.js', defer='')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    title Document
  body
    .bg-opacity
    .container
      form.grey.lighten-3(method="post" action="/service/register")
        .row
          blockquote.flow-text Basic Information
          .input-field.col.s4
            input#firstname.validate(type='text' name="name")
            label(for='firstname') First Name
          .input-field.col.s4
            input#middlename.validate(type='text' name="middle_name")
            label(for='middlename') Middle Name
          .input-field.col.s4
            input#lastname.validate(type='text' name="lastname")
            label(for='lastname') Last Name
        .row
          .input-field.col.s4
            select
              option(value='', disabled='', selected='') Select gender
              option(value='1') Male
              option(value='2') Female
            label Sex
          .col.s4
            option(value='', disabled='', selected='') Birth Date
            input.datepicker(type='text')
          .input-field.col.s4
            input#phone.validate(type='number' name="contact")
            label(for='phone') Phone number
        .row
          h6.flow-text Address
          .input-field.col.s2
            input#block.validate(type='number')
            label(for='block') Block #
          .input-field.col.s3
            input#street.validate(type='text')
            label(for='street') Street
          .input-field.col.s3
            input#brgy.validate(type='text')
            label(for='brgy') barangay
          .input-field.col.s4
            select
              option(value='', disabled='', selected='') Select Province
              option(value='1') Bulacan
              option(value='2') Cavite
              option(value='2') Laguna
            label Province
        button.btn.waves-effect.waves-light.right-align
          | Submit
          i.material-icons.right send
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
