doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='/css/registration.css')
    link(type='text/css', rel='stylesheet', href='/css/materialize.min.css', media='screen,projection')
    //
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    script(src='/js/jquery-3.0.0.js')
    script(src='/js/registration.js', defer='')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    title Document
  body
    .bg-opacity
    .container
      form.grey.lighten-3(method="post" action="/service/register")
        .row
          blockquote.flow-text Basic Information
          .input-field.col.s4
            input#firstname.validate(type='text' name="name")
            label(for='firstname') First Name
          .input-field.col.s4
            input#middlename.validate(type='text' name="middle_name")
            label(for='middlename') Middle Name
          .input-field.col.s4
            input#lastname.validate(type='text' name="lastname")
            label(for='lastname') Last Name
        .row
          .input-field.col.s4
            input(type='text' name="sex")
            label Sex
          .col.s4
            input(type="text" name="birthdate")
            label Birth Date
          .input-field.col.s4
            input#phone.validate(type='number' name="contact")
            label(for='phone') Contact number
        .row
          .input-field.col.s4
            input#email.validate(type='email' name="email")
            label(for='email') Email address
          .input-field.col.s4
            input#user.validate(type='text' name="username")
            label(for='user') User name
          .input-field.col.s4
            input#pass.validate(type='password' name="password")
            label(for='pass') Password
        .row
          blockquote.flow-text Address
          .input-field.col.s12
            input#address.validate(type='text' name="address")
            label(for='address') Address
        .row
          blockquote.flow-text Valid id's
          .input-field.col.s4
            input(type='text' name="valid_id")
          .input-field.col.s3
            input(type='text' name="valid_id_no")
            label(for='pass') enter no.
        button.btn.waves-effect.waves-light.right-align(type='submit')
          | Submit
          i.material-icons.right send
    script(src='/js/materialize.min.js')