footer.page-footer.grey
  .container
    .row
      .col.l6.s12
        h5.white-text BANKING THE UNBANKED
        p.grey-text.text-lighten-4
          | Blockchain technology has the potential to help the unbanked and underbanked by allowing them to create their own financial alternatives in an efficient, transparent and scalable manner.  One of the biggest challenges banks face when trying to serve the unbanked is that many of them do not have clear identifying information, making it difficult to implement “Know Your Customer” practices.
      .col.l4.offset-l2.s12
        h5.white-text Powered by :
        ul
          li
            a.grey-text.text-lighten-3(href='https://www.unionbankph.com/', target='_blank')
              img(src='/img/unionb.png', height='\
              25px')
          li
            a.grey-text.text-lighten-3(href='https://nem.io/', target='_blank')
              img(src='/img/Nem_logo.svg.png', height='85px')
  .footer-copyright
    .container
      | © 2018 Copyright Text
