.nav.cyan.lighten-2
  // navbar content here
  a.sidenav-trigger(href='#', data-target='slide-out')
    li.material-icons menu
  img.logo(src='/img/nts.png')
ul#slide-out.sidenav
  li
    a(href='')
      i.material-icons home
      | Home
  li
    .divider
  li
    a(href='')
      i.material-icons redeem
      | My account
  li
    a(href='#!')
      i.material-icons timeline
      | Transaction History
  li
    a(href='/service/account/loan')
      i.material-icons business_center
      | Loan
